@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);

  --color-ink_black: #000814;

  --color-prussian_blue: #001d3d;

  --color-regal_navy: #003566;

  --color-school_bus_yellow: #ffc300;

  --color-gold: #ffd60a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
  @apply container
}
